body{
    min-height: 100vh
}

#root{
    height: 100%;
    width: 100%;
}

.column{
    display: flex;
    flex-direction: column;
    width: 10%;
    height: 250px;
    justify-content: space-between;
}